*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
}

#app{
    display: grid;
    grid-template-columns: 70% 30%;


}

header{
    background-color: antiquewhite;
}

.time-counter{
    background-color: gainsboro;
}

.game-board{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 4px;
}

.circle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid brown ;

        display: flex;
        justify-content: center;
        align-items: center;
}

img {
    width: 130px;
    height: 130px;
}

.hidden{
    display: none;
}